[submodule "app/src/main/secp/secp256k1"]
	path = app/src/main/secp/secp256k1
	url = https://github.com/bitcoin-core/secp256k1.git
[submodule "app/src/main/jni/core"]
	path = app/src/main/jni/core
	url = https://github.com/brainwallet-co/core.git
[submodule "modules/private-general-purpose"]
	path = modules/private-general-purpose
	url = https://github.com/gruntsoftware/android-private-general-purpose.git
	update = none
[submodule "gruntsoftware-build-logic"]
	path = gruntsoftware-build-logic
	url = https://github.com/gruntsoftware/android-build-logic.git
