[submodule "app/src/main/secp/secp256k1"]
	path = app/src/main/secp/secp256k1
	url = https://github.com/bitcoin-core/secp256k1.git
[submodule "app/src/main/jni/core"]
	path = app/src/main/jni/core
	url = https://github.com/brainwallet-co/core.git
[submodule "app/src/main/remote_data"]
	path = app/src/main/remote_data
	url = https://github.com/brainwallet-co/data.git
