<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.brainwallet"
        xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".BrainwalletScreengrabApp"
        tools:replace="android:name" />

</manifest>